
/* contact hero-bg styling */

.contact-head {
    position: relative;
    height: 300px;
    background-image: url("../images/contact-bg2.png"), url("../images/contact-bg1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
}


/* container styling */

.home-link {
    margin: 1em 0em 2em -2.3em;
}
.home-link-list {
    list-style: none;
    display: inline;
    font-size: .8rem;
    color:#3590F3;
}
.home-link-list a {
    color:#3590F3;
    text-decoration: none;
}
.home-link-list a:hover {
    color:#62bfed;
}
.contact-map {
    margin-bottom: 2em;
}
.contact-map img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.contact-address {
    display: flex;
    justify-content: space-between;
    margin: 4em 0;
}
.contact-address h5 {
    font-weight: 500;
}
.address-right {
    text-align: right;
}
.social-links  a {
    color: #000000;
}
.social-links  a:hover {
    color: #3590F3;
}

/* form styling */
.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
}
.feedback h4 {
    margin-bottom: 2em;
    font-weight: 600;
}
.feedback input,
textarea {
    min-width: 85%;
    margin-bottom: 1.5em;
    padding: .8em;
    background: rgba(0, 0, 0, 0.1);
    border: none;
}
input::placeholder,
textarea::placeholder {
    color: #000000;
    font-size: 0.8rem;
}



/* media queries */

@media (max-width : 425px) {
    .contact-head {
        background-image:url("../images/contact-bg1.png");
        background-repeat: no-repeat;
        background-position: right;
    
    }
    .contact-address {
        display: flex;
        flex-direction: column;
        
    }
    .address-right {
        text-align: left;
    }
    .subscribe button {
        padding: 0.4em;
    }

}

