/** Utilities CSS **/

body {
  color: black;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: Playfair-Bold;
  src: url(../fonts/PlayfairDisplay-Bold.otf);
  font-weight: bold;
  font-display: block;
}

@font-face {
  font-family: Playfair;
  src: url(../fonts/PlayfairDisplay-Regular.otf);
  font-weight: bold;
  font-display: block;
}

/** Header  */
.navbar-brand {
  font-family: Playfair-Bold;
  color: black;
}

.nav-item a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.nav-item a:hover {
  color: #3590f3;
}

.active {
  color: #3590f3 !important;
  font-weight: 600 !important;
}
#top-text {
  padding: 120px;
}

#home-about {
  margin-top: 50px;
  margin-bottom: 30px;
}

.hero-text {
  color: #ffffff;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Playfair-Bold;
}

/** Rates Page **/
.rates {
  position: relative;
  text-align: center;
  color: white;
}
.rate {
  position: absolute;
  top: 45%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-size: 35px;
}

.para {
  padding-top: 25px;
  font-size: 20px;
}

.rate-row {
  margin-top: 100px;
}

.rate-btn {
  border-radius: 0;
  background: #3590f3;
  padding: 10px 30px;
  color: #ffffff;
}
.review {
  text-align: center;
}
#blog-overview {
  text-align: center;
  padding-top: 50px;
}
#top-text {
  text-align: center;
  padding: 100px 0px;
  position: absolute;
}

#top-text > h1 {
  font-family: playfair-Bold;
  font-size: 4rem;
}

#top-text > p {
  font-weight: 500;
}

#top-text > button {
  padding: 15px 45px;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 0;
}

.rate-text > h3 {
  font-family: Playfair-Bold;
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.rate-text > p {
  font-size: 15px;
  line-height: 27px;
  font-weight: 300;
}

/** Footer **/
@media only screen and (max-width: 790px) {
  .fa-p {
    font-size: 13px !important;
  }

  .rate-text > h3 {
    font-size: 1.4rem;
  }
  .rate-text > p {
    font-size: 12px;
    line-height: 18px;
  }

  .rate-text > h5 {
    font-size: 11px;
  }

  .rate-btn {
    padding: 6px 12px;
    color: #ffffff;
    font-size: 12px;
  }
  .rate-row {
    margin-top: 50px;
  }
}
.my-footer {
  background-color: #3590f3;
  padding: 100px 0 20px 0;
  color: #fff;
}

.footer-brand {
  font-family: Playfair-Bold;
}

.my-footer a {
  color: #fff !important;
}

.my-footer ul {
  list-style-type: none;
  padding-left: 0;
}

.my-footer li {
  margin-bottom: 0.9rem;
  font-weight: 300;
}

.my-footer h5 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 1.4rem;
}

footer > .container > .row > .col-md-12 {
  margin-top: 30px;
}

/** Mobile Res */
@media only screen and (max-width: 425px) {
  .fa-p {
    font-size: none;
  }
  footer > .container > .row > .col-md-3 {
    margin-bottom: 30px;
  }

  .my-footer {
    padding: 50px 0 20px 0;
  }

  footer > .container > .row > .col-md-12 {
    margin-top: 0;
  }

  .hero-text {
    font-size: 1rem;
  }
  .rate-row {
    margin-top: 30px;
  }
  .rate-text {
    padding-bottom: 20px;
  }
}

/** Footer Form*/
.newsletter {
  margin: 4em 0 2em;
}
.subscribe label {
  font-weight: 600;
}
.subscribe label + div {
  display: inline;
}
.subscribe input {
  min-width: 62%;
  padding: 0.8em;
  background: rgba(0, 0, 0, 0.1);
  border: none;
}
input::placeholder,
textarea::placeholder {
  color: #000000;
  font-size: 0.8rem;
}
.sub-btn {
  background: #3590f3;
  padding: 10px 30px;
  color: #ffffff;
}

@media (width: 1024px) {
  .fa-p {
    font-size: unset;
  }

  .subscribe label + div {
    display: flex;
  }
  .subscribe input {
    width: 70%;
  }
  .subscribe button {
    width: 30%;
  }
  .rate-text > h3 {
    font-size: 2rem;
  }
  .rate-text > p {
    font-size: 15px;
    line-height: 20px;
  }

  .rate-text > h5 {
    font-size: 14px;
  }

  .rate-btn {
    padding: 6px 12px;
    color: #ffffff;
    font-size: 12px;
  }
  .rate-row {
    margin-top: 50px;
  }
}

@media (max-width: 375px) {
  .subscribe input {
    width: 55%;
  }
  .subscribe button {
    width: 45%;
    padding: 0;
    font-size: 0.8rem;
  }
}

.fa-p {
  font-size: 18px;
}
